:root {
  --var-primary: #222831;
  --var-secondary: #393e46;
  --var-secondary-opaque: rgba(var(var(--var-secondary)), 0.5);
  --var-accent-primary: #ffd369;
  --var-accent-secondary: #eeeeee;
  --var-accent-secondary-opaque: rgba(var(--var-accent-secondary), 0.5);
  --var-success: #e0ff69;
  --var-danger: #ff8869;
}
