.current-month {
  font-weight: bold;
}

.vacay-table {
  font-size: small;
  max-width: 100%;

  .current-user-row-header {
    background-color: var(--var-bg-primary);
    color: var(--var-secondary);
  }

  @media screen and (min-width: 1200px) {
    max-width: 80%;
  }

  th {
    &.vacay-table-header {
      width: 35px;
    }

    &.date-header {
      align-content: center;
      text-align: center;
    }

    &.firstcol {
      width: 150px;
    }

    &.saturday {
      color: grey;
    }

    &.holiday {
      color: crimson;
    }

    &.today {
      background-color: var(--var-bg-primary);
    }
  }

  .vacay-cal-entry {
    align-content: center;
    text-align: center;
    font-weight: bold;

    &.editable:hover {
      background-color: var(--var-secondary-opaque);
    }
  }

  .vacay-footer {
    text-align: center;

    &.low-availability {
      background-color: crimson;
      color: var(--var-bg-secondary);
    }
  }
}

.entry-selector {
  max-width: 80%;
  
  .save-btn-container {
    margin-left: auto;
    margin-right: 0;
  
    .vacay-form-button {  
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      border-radius: 20px;
    }
    
    .vacay-btn-submit {
      background-color: var(--var-bg-primary);
      color: var(--var-primary);
    }
  }
}
