.vacay-team-title {
  margin-bottom: 3rem;
  color: var(--var-secondary);
  font-style: oblique;
  text-decoration: underline solid var(--var-accent-primary);
}

.vacay-team-title::after {
  content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    height: 5px;
    background-color: var(--var-accent-primary);
}

.pagination {
  .page-item {
    .current-month {
      font-weight: bold;
      background-color: var(--var-accent-primary);
      color: var(--var-secondary);
    }
  }

  .page-link {
    color: var(--var-secondary);
    border-color: var(--var-accent-primary);
  }
}

.entry-selector {
  max-width: 80%;

  .form-select {
    border-color: var(--var-accent-primary);
  }

  .save-btn-container {
    margin-left: auto;
    margin-right: 0;
    padding-right: 0;

    .vacay-form-button {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      display: block;
      border-radius: 20px;
    }

    .vacay-btn-submit {
      background-color: var(--var-accent-primary);
      color: var(--var-primary);
    }
  }
}

.vacay-table {
  font-size: small;
  max-width: 100%;

  .current-user-row-header {
    background-color: var(--var-accent-primary);
    color: var(--var-secondary);
  }

  @media screen and (min-width: 1200px) {
    max-width: 80%;
  }

  th {
    &.vacay-table-header {
      width: 35px;
    }

    &.date-header {
      align-content: center;
      text-align: center;
    }

    &.firstcol {
      width: 150px;
    }

    &.saturday {
      color: var(--var-secondary);
      font-weight: normal;
      font-style: italic;
    }

    &.holiday {
      color: var(--var-danger);
      font-style: italic;
    }

    &.today {
      background-color: var(--var-accent-primary);
    }
  }

  .vacay-cal-entry {
    align-content: center;
    text-align: center;
    font-weight: bold;

    &.editable:hover {
      background-color: var(--var-secondary-opaque);
    }
  }

  .vacay-footer {
    text-align: center;

    &.low-availability {
      background-color: var(--var-danger);
      color: var(--var-accent-secondary);
    }
  }
}
