<h1>Welcome to VacayPlanner!</h1>

<div class="row mt-5">
  <div class="col-xl-6">
    <p>
      <i>Boss, didn't you remember I said two weeks ago that I wanted to take today off, what do you mean you need the manpower?</i>
    </p>
    <p>
      <i>Half of the team was off the call when I said I cannot come in tomorrow, not my fault.</i>
    </p>
    <p>
      <i>Sorry, man, how would I remember that you said during a lunch break you wanted to take 2 weeks off when we're going live in a couple of days?</i>
    </p>
    <hr>
    <p>If any of those lines sound familiar to you, you might be just at the right place.</p>
    <p><strong><i>VacayPlanner</i></strong> is an app where you register your planned or confirmed vacations, home offices, other absences.</p>
    <p>You can also mark when you work from the office, client site, when you're assigned to different shifts, whatever you and your team needs.</p>
    <p>With visibility over the availabilities and absences of the team, oranising your work and personal life will be much eacher.</p>
    <p>I hope, you'll enjoy using the app!</p>
    <p class="right"><i>Ádám Várhegyi-Miłoś&nbsp;&copy;2023</i></p>
  </div>
  <div class="col-xl-6">
    <img class="vacay-screenshot" src="../../../../../assets/vacay-planner - calendar-view.png" alt="vacay planner app screenshot">
  </div>
</div>
