/* You can add global styles to this file, and also import other style files */
@import "styles/_variables";

@import "bootstrap/scss/bootstrap";
@import "ngx-toastr/toastr-bs5-alert";

body {
  background-image: url('./assets/daniele-levis-pelusi-hROE4kwi5ng-unsplash.jpg');
  background-color: var(--var-accent-secondary);
  margin: 0;
  padding: 0;
  height: 100vh;
  transition: background-color 0.5s ease;

  :is(h1) {
    &.green-title {
      text-decoration: underline solid var(--var-success);
    }

    &.red-title {
      text-decoration: underline solid var(--var-danger);
    }
  }

  .vacay-navbar {
    position: relative;
  }
  
  .vacay-navbar::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 20px;
    background: linear-gradient(to top, rgba(0,0,0,0), var(--var-primary));
    z-index: -1;
    transition: background 0.5s ease;
  }
}
